In [1]:
#Item A
import pandas as pd
import os
os.getcwd() # Ver donde estamos ubicados
os.chdir("/Users/francodeangelis/Documents/Udesa/cuarto /Big data /BigDataUdeSA/ejercico 1/EPH_usu_1er_Trim_2024_xlsx") # Ubicarnos en la carpeta con todos los archivos de esta tutorial

df24 = pd.read_excel("usu_individual_T124.xlsx")
print(df24)

                              CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
0      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           3
1      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           4
2      TQRMNOPUTHLMKQCDEGGFB00852588  2024          1          1           5
3      TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           1
4      TQRMNOPPWHLLKRCDEGGFB00852574  2024          1          1           2
...                              ...   ...        ...        ...         ...
46045  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           1
46046  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           2
46047  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           3
46048  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           4
46049  TQRMNOPUQHKMKNCDEIJAH00861661  2024          1          1           5

       H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR  \
0        1      42       S          10      439  ...      NaN       12
1        1      42       S          10      439  ...      NaN       12
2        0      42       S          10      439  ...      NaN       12
3        1      42       S          10      675  ...      NaN        8
4        1      42       S          10      675  ...      NaN        8
...    ...     ...     ...         ...      ...  ...      ...      ...
46045    1       1       S          33     3410  ...      NaN       12
46046    2       1       S          33     3410  ...      NaN       12
46047    2       1       S          33     3410  ...      NaN       12
46048    2       1       S          33     3410  ...      NaN       12
46049    2       1       S          33     3410  ...      NaN       12

           IPCF  DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
0           0.0      12     12.0       12     12.0      NaN       12       0
1           0.0      12     12.0       12     12.0      NaN       12       0
2           0.0      12     12.0       12     12.0      NaN       12       0
3      212500.0       6      6.0        6      6.0      NaN        6    1610
4      212500.0       6      6.0        6      6.0      NaN        6    1610
...         ...     ...      ...      ...      ...      ...      ...     ...
46045       0.0      12      NaN       12     12.0      NaN       12       0
46046       0.0      12      NaN       12     12.0      NaN       12       0
46047       0.0      12      NaN       12     12.0      NaN       12       0
46048       0.0      12      NaN       12     12.0      NaN       12       0
46049       0.0      12      NaN       12     12.0      NaN       12       0

[46050 rows x 177 columns]

In [27]:
# Filtro los datos
df24=df24[df24[ "REGION" ]== 43]
df24=df24[(df24[ "AGLOMERADO" ]==36)|(df24[ "AGLOMERADO" ]==13)|(df24[ "AGLOMERADO" ]==30)]
print(df24)

                              CODUSU  ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
67     TQRMNOSYUHKNKMCDEIGED00856897  2024          1          1           1
68     TQRMNOSYUHKNKMCDEIGED00856897  2024          1          1           2
115    TQRMNORTVHLOKQCDEIMBF00855868  2024          1          1           1
116    TQRMNORTVHLOKQCDEIMBF00855868  2024          1          1           2
117    TQRMNORSXHMLLOCDEIMBF00802814  2024          1          1           1
...                              ...   ...        ...        ...         ...
45794  TQRMNORTQHMLLOCDEIMBF00802806  2024          1          1           4
45795  TQRMNOQSQHKMLNCDEIMBF00861587  2024          1          1           1
45796  TQRMNOPSVHKMLOCDEIMBF00861588  2024          1          1           1
45797  TQRMNOPSVHKMLOCDEIMBF00861588  2024          1          1           2
45798  TQRMNOPSVHKMLOCDEIMBF00861588  2024          1          1           3

       H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  PDECIFR  ADECIFR  \
67       1      43       N          30      159  ...      8.0        7
68       1      43       N          30      159  ...      8.0        7
115      1      43       N          36      138  ...      3.0        3
116      1      43       N          36      138  ...      3.0        3
117      1      43       N          36      149  ...     10.0       10
...    ...     ...     ...         ...      ...  ...      ...      ...
45794    0      43       N          36      180  ...     10.0       10
45795    1      43       N          36      184  ...      7.0        7
45796    1      43       N          36      217  ...      5.0        5
45797    1      43       N          36      217  ...      5.0        5
45798    0      43       N          36      217  ...      5.0        5

            IPCF  DECCFR  IDECCFR  RDECCFR  GDECCFR  PDECCFR  ADECCFR  PONDIH
67     266666.67       7      7.0        7      NaN      8.0        6     231
68     266666.67       7      7.0        7      NaN      8.0        6     231
115    125000.00       3      3.0        3      NaN      4.0        3     144
116    125000.00       3      3.0        3      NaN      4.0        3     144
117    685000.00      10     10.0       10      NaN     10.0       10     194
...          ...     ...      ...      ...      ...      ...      ...     ...
45794  487500.00       9      9.0        9      NaN      9.0        9     240
45795  600000.00      10     10.0       10      NaN     10.0       10     210
45796  136666.67       4      4.0        3      NaN      4.0        3     279
45797  136666.67       4      4.0        3      NaN      4.0        3     279
45798  136666.67       4      4.0        3      NaN      4.0        3     279

[4136 rows x 177 columns]

In [19]:
os.getcwd() # Ver donde estamos ubicados
os.chdir("/Users/francodeangelis/Documents/Udesa/cuarto /Big data /BigDataUdeSA/ejercico 1/t104_dta")# Ubicarnos en la carpeta con todos los archivos de esta tutorial

df04 = pd.read_stata("Individual_t104.dta")
print(df04)

         CODUSU  nro_hogar componente  h15    ano4       trimestre  \
0      125098          1.0        1.0   Sí  2004.0  1er. Trimestre
1      125397          1.0        1.0   Sí  2004.0  1er. Trimestre
2      125515          1.0        1.0   Sí  2004.0  1er. Trimestre
3      125558          1.0        1.0   Sí  2004.0  1er. Trimestre
4      125558          1.0        2.0   Sí  2004.0  1er. Trimestre
...         ...        ...        ...  ...     ...             ...
45284  285733          1.0        1.0   Sí  2004.0  1er. Trimestre
45285  285733          1.0        2.0   Sí  2004.0  1er. Trimestre
45286  285733          1.0        3.0   Sí  2004.0  1er. Trimestre
45287  285733          1.0        4.0  0.0  2004.0  1er. Trimestre
45288  285733          1.0        5.0  0.0  2004.0  1er. Trimestre

                  region mas_500              aglomerado  pondera  ... deccfr  \
0      Gran Buenos Aires       S  Ciudad de Buenos Aires   1299.0  ...     07
1      Gran Buenos Aires       S  Ciudad de Buenos Aires   2018.0  ...     00
2      Gran Buenos Aires       S  Ciudad de Buenos Aires   1486.0  ...     07
3      Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08
4      Gran Buenos Aires       S  Ciudad de Buenos Aires   1674.0  ...     08
...                  ...     ...                     ...      ...  ...    ...
45284         Patagónica       N    Ushuaia - Río Grande    123.0  ...     09
45285         Patagónica       N    Ushuaia - Río Grande    123.0  ...     09
45286         Patagónica       N    Ushuaia - Río Grande    123.0  ...     09
45287         Patagónica       N    Ushuaia - Río Grande    123.0  ...     09
45288         Patagónica       N    Ushuaia - Río Grande    123.0  ...     09

      ideccfr rdeccfr gdeccfr pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
0                  06      06              04   0.0   0.0   0.0  00000
1                  00      00              00   0.0   0.0   0.0  00000
2                  07      07              05   0.0   0.0   0.0  00020
3                  08      08              06   0.0   0.0   0.0  00000
4                  08      08              06   0.0   0.0   0.0  00000
...       ...     ...     ...     ...     ...   ...   ...   ...    ...
45284      09      08              09      07   0.0   0.0   0.0  00000
45285      09      08              09      07   0.0   0.0   0.0  00000
45286      09      08              09      07   0.0   0.0   0.0  00000
45287      09      08              09      07   0.0   0.0   0.0  00000
45288      09      08              09      07   0.0   0.0   0.0  00000

[45289 rows x 176 columns]

In [29]:
# Filtro los datos  
df04=df04[df04['region']=="Pampeana"]  
df04=df04[(df04['aglomerado']=="Río Cuarto") | (df04['aglomerado']=="Gran Cordoba") | (df04['aglomerado']=="Santa Rosa")]  
print(df04)

         CODUSU  nro_hogar componente  h15    ano4       trimestre    region  \
41278  125349          1.0        1.0   Sí  2004.0  1er. Trimestre  Pampeana
41279  125349          1.0        2.0   Sí  2004.0  1er. Trimestre  Pampeana
41280  125349          1.0        3.0   Sí  2004.0  1er. Trimestre  Pampeana
41281  125349          1.0        4.0   Sí  2004.0  1er. Trimestre  Pampeana
41282  125349          1.0        5.0   Sí  2004.0  1er. Trimestre  Pampeana
...         ...        ...        ...  ...     ...             ...       ...
42020  288189          1.0        2.0   Sí  2004.0  1er. Trimestre  Pampeana
42021  288189          1.0        3.0   Sí  2004.0  1er. Trimestre  Pampeana
42022  288189          1.0        4.0   Sí  2004.0  1er. Trimestre  Pampeana
42023  288189          1.0        5.0  0.0  2004.0  1er. Trimestre  Pampeana
42024  288189          1.0        6.0   Sí  2004.0  1er. Trimestre  Pampeana

      mas_500  aglomerado  pondera  ... deccfr ideccfr rdeccfr gdeccfr  \
41278       N  Río Cuarto    145.0  ...     02      02      01
41279       N  Río Cuarto    145.0  ...     02      02      01
41280       N  Río Cuarto    145.0  ...     02      02      01
41281       N  Río Cuarto    145.0  ...     02      02      01
41282       N  Río Cuarto    145.0  ...     02      02      01
...       ...         ...      ...  ...    ...     ...     ...     ...
42020       N  Río Cuarto    193.0  ...     01      01      01
42021       N  Río Cuarto    193.0  ...     01      01      01
42022       N  Río Cuarto    193.0  ...     01      01      01
42023       N  Río Cuarto    193.0  ...     01      01      01
42024       N  Río Cuarto    193.0  ...     01      01      01

      pdeccfr adeccfr pj1_1 pj2_1 pj3_1 idimpp
41278      02      01   0.0   0.0   0.0  40000
41279      02      01   0.0   0.0   0.0  40000
41280      02      01   0.0   0.0   0.0  00000
41281      02      01   0.0   0.0   0.0  00000
41282      02      01   0.0   0.0   0.0  00000
...       ...     ...   ...   ...   ...    ...
42020      01      01   0.0   0.0   0.0  00000
42021      01      01   0.0   0.0   0.0  00000
42022      01      01   0.0   0.0   0.0  00000
42023      01      01   0.0   0.0   0.0  00000
42024      01      01   0.0   0.0   0.0  00000

[747 rows x 176 columns]

In [43]:

df = pd.concat([df24, df04])
print(df.shape)
print(df)

(4883, 352)
                              CODUSU    ANO4  TRIMESTRE  NRO_HOGAR  \
67     TQRMNOSYUHKNKMCDEIGED00856897  2024.0        1.0        1.0
68     TQRMNOSYUHKNKMCDEIGED00856897  2024.0        1.0        1.0
115    TQRMNORTVHLOKQCDEIMBF00855868  2024.0        1.0        1.0
116    TQRMNORTVHLOKQCDEIMBF00855868  2024.0        1.0        1.0
117    TQRMNORSXHMLLOCDEIMBF00802814  2024.0        1.0        1.0
...                              ...     ...        ...        ...
42020                       288189       NaN        NaN        NaN
42021                       288189       NaN        NaN        NaN
42022                       288189       NaN        NaN        NaN
42023                       288189       NaN        NaN        NaN
42024                       288189       NaN        NaN        NaN

       COMPONENTE  H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  deccfr  \
67            1.0  1.0    43.0       N        30.0    159.0  ...     NaN
68            2.0  1.0    43.0       N        30.0    159.0  ...     NaN
115           1.0  1.0    43.0       N        36.0    138.0  ...     NaN
116           2.0  1.0    43.0       N        36.0    138.0  ...     NaN
117           1.0  1.0    43.0       N        36.0    149.0  ...     NaN
...           ...  ...     ...     ...         ...      ...  ...     ...
42020         NaN  NaN     NaN     NaN         NaN      NaN  ...      01
42021         NaN  NaN     NaN     NaN         NaN      NaN  ...      01
42022         NaN  NaN     NaN     NaN         NaN      NaN  ...      01
42023         NaN  NaN     NaN     NaN         NaN      NaN  ...      01
42024         NaN  NaN     NaN     NaN         NaN      NaN  ...      01

       ideccfr rdeccfr  gdeccfr  pdeccfr  adeccfr  pj1_1  pj2_1  pj3_1  idimpp
67         NaN     NaN      NaN      NaN      NaN    NaN    NaN    NaN     NaN
68         NaN     NaN      NaN      NaN      NaN    NaN    NaN    NaN     NaN
115        NaN     NaN      NaN      NaN      NaN    NaN    NaN    NaN     NaN
116        NaN     NaN      NaN      NaN      NaN    NaN    NaN    NaN     NaN
117        NaN     NaN      NaN      NaN      NaN    NaN    NaN    NaN     NaN
...        ...     ...      ...      ...      ...    ...    ...    ...     ...
42020       01      01                01       01    0.0    0.0    0.0   00000
42021       01      01                01       01    0.0    0.0    0.0   00000
42022       01      01                01       01    0.0    0.0    0.0   00000
42023       01      01                01       01    0.0    0.0    0.0   00000
42024       01      01                01       01    0.0    0.0    0.0   00000

[4883 rows x 352 columns]

In [68]:
df.to_excel("Tabla_acortada.xlsx", index = False)

In [89]:
#Item B
import matplotlib.pyplot as plt
import pandas as pd
import os
os.chdir("/Users/francodeangelis/Documents/Udesa/cuarto /Big data /BigDataUdeSA/ejercico 1/") 

df= pd.read_excel("Tabla_acortada.xlsx")
print(df)

IndentationError: unexpected indent (1873152188.py, line 10)

In [109]:
##Estoy porbando para ver la cantidad de missing values 
 df_nulos= df.isnull()
print(df_nulos)
filas_con_nulos = df_nulos.any(axis=1) #axis=1 verifica a lo largo de cada fila  
# Para obtener el DataFrame original filtrado solo con las filas que contienen nulos:  
df_con_nulos = df[filas_con_nulos]  
print(df_con_nulos)  

# Obtener filas con al menos un valor nulo  
filas_con_nulos = df_nulos.any(axis=1)  
df_con_nulos = df[filas_con_nulos]  



# Imprimir el DataFrame con filas que contienen valores nulos  
df_con_nulos = df[df_nulos.any(axis=1)]  # Filtra el DataFrame original  
print("DataFrame con filas que contienen valores nulos:")  
print(df_con_nulos)  

# Contar valores nulos por columna (más legible)  
conteo_nulos_por_columna = df.isnull().sum()  # O df_nulos.sum()  
print("\nCantidad de valores nulos por columna:")  
print(conteo_nulos_por_columna)  

# Contar valores nulos por fila (más legible)  
conteo_nulos_por_fila = df.isnull().sum(axis=1)  
print("\nCantidad de valores nulos por fila:")  
print(conteo_nulos_por_fila)  

# Encontrar ubicaciones de valores nulos  
filas_con_true, columnas_con_true = np.where(df_nulos)  

print("\nUbicaciones (fila, columna) de los valores nulos:")  
for fila, columna in zip(filas_con_true, columnas_con_true):  
    nombre_columna = df.columns[columna]  
    print(f"Fila: {fila}, Columna: {nombre_columna}")

      CODUSU   ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE    H15  REGION  MAS_500  \
0      False  False      False      False       False  False   False    False
1      False  False      False      False       False  False   False    False
2      False  False      False      False       False  False   False    False
3      False  False      False      False       False  False   False    False
4      False  False      False      False       False  False   False    False
...      ...    ...        ...        ...         ...    ...     ...      ...
4878   False   True       True       True        True   True    True     True
4879   False   True       True       True        True   True    True     True
4880   False   True       True       True        True   True    True     True
4881   False   True       True       True        True   True    True     True
4882   False   True       True       True        True   True    True     True

      AGLOMERADO  PONDERA  ...  deccfr  ideccfr  rdeccfr  gdeccfr  pdeccfr  \
0          False    False  ...    True     True     True     True     True
1          False    False  ...    True     True     True     True     True
2          False    False  ...    True     True     True     True     True
3          False    False  ...    True     True     True     True     True
4          False    False  ...    True     True     True     True     True
...          ...      ...  ...     ...      ...      ...      ...      ...
4878        True     True  ...   False    False    False    False    False
4879        True     True  ...   False    False    False    False    False
4880        True     True  ...   False    False    False    False    False
4881        True     True  ...   False    False    False    False    False
4882        True     True  ...   False    False    False    False    False

      adeccfr  pj1_1  pj2_1  pj3_1  idimpp
0        True   True   True   True    True
1        True   True   True   True    True
2        True   True   True   True    True
3        True   True   True   True    True
4        True   True   True   True    True
...       ...    ...    ...    ...     ...
4878    False  False  False  False   False
4879    False  False  False  False   False
4880    False  False  False  False   False
4881    False  False  False  False   False
4882    False  False  False  False   False

[4883 rows x 352 columns]
                             CODUSU    ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
0     TQRMNOSYUHKNKMCDEIGED00856897  2024.0        1.0        1.0         1.0
1     TQRMNOSYUHKNKMCDEIGED00856897  2024.0        1.0        1.0         2.0
2     TQRMNORTVHLOKQCDEIMBF00855868  2024.0        1.0        1.0         1.0
3     TQRMNORTVHLOKQCDEIMBF00855868  2024.0        1.0        1.0         2.0
4     TQRMNORSXHMLLOCDEIMBF00802814  2024.0        1.0        1.0         1.0
...                             ...     ...        ...        ...         ...
4878                       288189       NaN        NaN        NaN         NaN
4879                       288189       NaN        NaN        NaN         NaN
4880                       288189       NaN        NaN        NaN         NaN
4881                       288189       NaN        NaN        NaN         NaN
4882                       288189       NaN        NaN        NaN         NaN

      H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  deccfr  ideccfr rdeccfr  \
0     1.0    43.0       N        30.0    159.0  ...     NaN      NaN     NaN
1     1.0    43.0       N        30.0    159.0  ...     NaN      NaN     NaN
2     1.0    43.0       N        36.0    138.0  ...     NaN      NaN     NaN
3     1.0    43.0       N        36.0    138.0  ...     NaN      NaN     NaN
4     1.0    43.0       N        36.0    149.0  ...     NaN      NaN     NaN
...   ...     ...     ...         ...      ...  ...     ...      ...     ...
4878  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4879  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4880  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4881  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4882  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0

      gdeccfr  pdeccfr  adeccfr  pj1_1  pj2_1  pj3_1  idimpp
0         NaN      NaN      NaN    NaN    NaN    NaN     NaN
1         NaN      NaN      NaN    NaN    NaN    NaN     NaN
2         NaN      NaN      NaN    NaN    NaN    NaN     NaN
3         NaN      NaN      NaN    NaN    NaN    NaN     NaN
4         NaN      NaN      NaN    NaN    NaN    NaN     NaN
...       ...      ...      ...    ...    ...    ...     ...
4878               1.0      1.0      0      0      0     0.0
4879               1.0      1.0      0      0      0     0.0
4880               1.0      1.0      0      0      0     0.0
4881               1.0      1.0      0      0      0     0.0
4882               1.0      1.0      0      0      0     0.0

[4883 rows x 352 columns]
DataFrame con filas que contienen valores nulos:
                             CODUSU    ANO4  TRIMESTRE  NRO_HOGAR  COMPONENTE  \
0     TQRMNOSYUHKNKMCDEIGED00856897  2024.0        1.0        1.0         1.0
1     TQRMNOSYUHKNKMCDEIGED00856897  2024.0        1.0        1.0         2.0
2     TQRMNORTVHLOKQCDEIMBF00855868  2024.0        1.0        1.0         1.0
3     TQRMNORTVHLOKQCDEIMBF00855868  2024.0        1.0        1.0         2.0
4     TQRMNORSXHMLLOCDEIMBF00802814  2024.0        1.0        1.0         1.0
...                             ...     ...        ...        ...         ...
4878                       288189       NaN        NaN        NaN         NaN
4879                       288189       NaN        NaN        NaN         NaN
4880                       288189       NaN        NaN        NaN         NaN
4881                       288189       NaN        NaN        NaN         NaN
4882                       288189       NaN        NaN        NaN         NaN

      H15  REGION MAS_500  AGLOMERADO  PONDERA  ...  deccfr  ideccfr rdeccfr  \
0     1.0    43.0       N        30.0    159.0  ...     NaN      NaN     NaN
1     1.0    43.0       N        30.0    159.0  ...     NaN      NaN     NaN
2     1.0    43.0       N        36.0    138.0  ...     NaN      NaN     NaN
3     1.0    43.0       N        36.0    138.0  ...     NaN      NaN     NaN
4     1.0    43.0       N        36.0    149.0  ...     NaN      NaN     NaN
...   ...     ...     ...         ...      ...  ...     ...      ...     ...
4878  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4879  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4880  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4881  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0
4882  NaN     NaN     NaN         NaN      NaN  ...     1.0      1.0     1.0

      gdeccfr  pdeccfr  adeccfr  pj1_1  pj2_1  pj3_1  idimpp
0         NaN      NaN      NaN    NaN    NaN    NaN     NaN
1         NaN      NaN      NaN    NaN    NaN    NaN     NaN
2         NaN      NaN      NaN    NaN    NaN    NaN     NaN
3         NaN      NaN      NaN    NaN    NaN    NaN     NaN
4         NaN      NaN      NaN    NaN    NaN    NaN     NaN
...       ...      ...      ...    ...    ...    ...     ...
4878               1.0      1.0      0      0      0     0.0
4879               1.0      1.0      0      0      0     0.0
4880               1.0      1.0      0      0      0     0.0
4881               1.0      1.0      0      0      0     0.0
4882               1.0      1.0      0      0      0     0.0

[4883 rows x 352 columns]

Cantidad de valores nulos por columna:
CODUSU           0
ANO4           747
TRIMESTRE      747
NRO_HOGAR      747
COMPONENTE     747
              ...
adeccfr       4136
pj1_1         4136
pj2_1         4136
pj3_1         4136
idimpp        4136
Length: 352, dtype: int64

Cantidad de valores nulos por fila:
0       210
1       211
2       272
3       209
4       273
       ...
4878    176
4879    176
4880    176
4881    176
4882    176
Length: 4883, dtype: int64

NameError: name 'np' is not defined

In [ ]:
#crear un heatmap

In [ ]:
Antes de arrancar con la limpieza de la base, cree un heatmap
mostrando valores faltantes de las diez (10) variables que más
les llamó la atención de la EPH.

IndentationError: unexpected indent (675881651.py, line 2)

In [155]:
#Item c 
#df.info()
#df.describe()
new_data=df.dropna(inplace=True)

print(new_data)

None